<!-- Featured show -->
<% featuredShow = shows.at(0); %>
<div class="featured-show">
  <div class="featured-image">
    <div class="featured-image-bg" style="background-image: url('<%= featuredShow.get("photo").large %>')"></div>
    <div class="featured-details">
      <div id="coming-up-next">Coming Up Next</div>
      <div class="name"><%= featuredShow.get("name") %></div>
      <button id="tickets-button" data-id="<%= featuredShow.id %>">Details + Tickets</button>
    </div>
  </div>
  <div class="featured-info" style="display: none">
    <div class="inline-block">
      <div class="info">
        <span>Location</span>
        <%= featuredShow.get("location") %>
      </div>
      <div class="info">
        <span>Student Price</span>
        <%= featuredShow.get("student_price") %>
      </div>
      <div class="info">
        <span>Non-student price</span>
        <%= featuredShow.get("non_student_price") %>
      </div>
    </div>
    <div class="inline-block performances">
      <div class="info">
        <span>Performances</span>
        <% for(j = 0; j < featuredShow.get("performances").length; j++) { %>
          <div class="performance">
            <%= moment(featuredShow.get("performances")[j].start_at).format("dddd, MMMM Do YYYY, h:mm a") %>
          </div>
        <% } %>
      </div>
      <div class="info">
        <span>Reservations</span>
        Email <a href="mailto:yaledancers@gmail.com">yaledancers@gmail.com</a> to reserve tickets
      </div>
    </div>
  </div>
</div>

<!-- Previous two shows -->
<div class="shows">
  <div id="previous-shows">Previous Shows</div>
  
  <% for(i = 1; i < shows.length; i++ ) { %>
    <% show = shows.at(i); %>
    <div class="previous-show">
      <div class="previous-show-image" style="background-image: url('<%= show.get('photo').medium %>')"></div>
      <div class="previous-show-details">
        <div class="previous-show-name"><%= show.get("name") %></div>
      </div>
    </div>
  <% } %>
</div>
