<%= form_for @show, html: {class: "table-inline"} do |f| %>
  <h3>Details</h3>
  <table class="table">
    <tr>
      <td>Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr>
      <td>Student Price</td>
      <td><%= f.text_field :student_price %></td>
    </tr>
    <tr>
      <td>Non-Student Price</td>
      <td><%= f.text_field :non_student_price %></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td>
        <% if @show.photo %>
          <%= image_tag @show.photo.url(:medium) %>
        <% end %>
        <%= f.file_field :photo %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>