<%= form_for @member do |f| %>
  <table>
    <tr>
      <td>Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>College</td>
      <td><%= f.text_field :college %></td>
    </tr>
    <tr>
      <td>Year</td>
      <td><%= f.text_field :year %></td>
    </tr>
    <tr>
      <td>Bio</td>
      <td><%= f.text_area :bio %></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><%= f.file_field :photo %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>